/* Contacto.css */
.contacto-container {
  text-align: center;
  padding: 2rem;
  background-color: #fff; /* Coincide con el color de fondo de proyectos */
  color: #333; /* Color oscuro para el texto */
  border-radius: 10px;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Añadir sombra suave */
}

.contacto-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #f05032; /* El mismo color que el encabezado de los proyectos */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contacto-container p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #666; /* Color gris suave */
}

.contacto-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contacto-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.2rem;
}

.contacto-icon {
  color: #f05032; /* El mismo color de iconos de los proyectos */
  font-size: 1.6rem;
}

.contacto-item a {
  color: #f05032; /* Coincide con el color de los proyectos */
  text-decoration: none;
}

.contacto-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contacto-container {
    padding: 1.5rem;
  }
  .contacto-info {
    gap: 1rem;
  }
}
