.footer {
  background-color: #333;
  color: #fff;
  padding: 1.5rem 2rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  /* Eliminamos la animación hover */
  transition: none;
}

.footer p {
  font-size: 1rem;
  margin: 0;
  color: #ccc;
}

.footer .footer-link {
  margin-top: 10px;
  font-size: 0.9rem;
}

.footer .footer-link-text {
  color: #f8b400;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .footer-link-text:hover {
  color: #fff;
}

.footer:hover {
  transform: none; /* Eliminar el movimiento al pasar el mouse */
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem 1.5rem;
  }

  .footer p {
    font-size: 0.9rem;
  }

  .footer .footer-link-text {
    font-size: 0.85rem;
  }
}
