.proyectos {
  text-align: center;
  padding: 60px 20px;
  background-color: #f4f4f4;
}

.proyectos h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.proyectos p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.proyectos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.proyecto-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.proyecto-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f05032;
}

.proyecto-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.proyecto-item h3 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.proyecto-item p {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.tecnologias-y-boton {
  display: flex;
  flex-direction: column; /* Alineación vertical */
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra los iconos verticalmente */
  gap: 20px; /* Aumenta el espacio entre los iconos */
  margin-bottom: 15px;
}

.icons svg {
  cursor: pointer;
  transition: transform 0.3s ease; /* Agrega una transición suave al hover */
}

.icons svg:hover {
  transform: scale(1.1); /* Escala los iconos ligeramente cuando se pasa el ratón por encima */
}

.proyecto-enlace {
  display: flex;
  justify-content: center; /* Centrar el botón */
  width: 100%;
}

.proyecto-boton {
  display: inline-block;
  background-color: #f05032;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.proyecto-boton:hover {
  background-color: #d7432a;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.proyecto-boton:active {
  transform: translateY(0);
  box-shadow: none;
}

@media (max-width: 768px) {
  .tecnologias {
    flex-wrap: wrap; /* Permite que los iconos se ajusten a múltiples líneas en pantallas pequeñas */
    gap: 15px; /* Reduce el espacio entre los iconos en pantallas pequeñas */
  }

  .tecnologias-y-boton {
    flex-direction: column;
    align-items: center; /* Centrar elementos en pantallas pequeñas */
  }

  .proyecto-boton {
    margin-top: 10px;
  }
}
